<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="utf-8"/>
  <link rel="stylesheet" href="//o4j806krb.qnssl.com/public/stylesheets/index.min.bdd5dd43.min.css" media="all" />
  <title>{{user.username}} 的个人主页</title>
</head>
<body>

<div id='main'>

    <div id='sidebar'>

      <div class='panel'>

        <div class='header'>
          <span class='col_fade'>个人信息</span>
        </div>
        <div class='inner'>
          <div class='user_card'>
              <div>
                <a class='user_avatar' href="{{url_for('index.user_detail', id=user.id)}}">
                  <img src="https://avatars3.githubusercontent.com/u/3118295?v=4&amp;s=120">
                </a>
                <span class='user_name'><a class='dark'>{{user.username}}</a></span>

                <div class="space clearfix"></div>
                <span class="signature">
                    “
                        没有签名
                    ”
                </span>
              </div>
          </div>
        </div>
      </div>
    </div>


<div id='content'>
  <div class='panel'>
    <div class='header'>
      <ul class='breadcrumb'>
        <li><a href='/'>主页</a><span class='divider'>/</span></li>
      </ul>
    </div>
    <div class='inner userinfo'>
      <div class='user_big_avatar'>
        <img src="https://avatars3.githubusercontent.com/u/3118295?v=4&amp;s=120" class="user_avatar" title="i5ting"/>
      </div>
      <a class='dark'>{{user.username}}</a>


      <p class='col_fade'>注册时间 3 年前</p>
      
    </div>
  </div>

  <div class='panel'>
    <div class='header'>
      <span class='col_fade'>最近创建的话题</span>
    </div>


    {% for t in topics %}
        <div class='cell'>

          <a class="user_avatar pull-left" href="/user/i5ting">
            <img src="https://avatars3.githubusercontent.com/u/3118295?v=4&amp;s=120"
                 title="i5ting"
                    />
          </a>


          <a class='last_time pull-right' href="/topic/5a41e5e7d1536726354b8140#5a4488e7f320ae9f0dd5812d">
            <img class="user_small_avatar" src="https://avatars2.githubusercontent.com/u/20757983?v=4&amp;s=120">
            <span class="gua-time" data-ct="{{ t.ct }}"></span>
          </a>



          <div class="topic_title_wrapper">
              <span>{{ t.reply_count() }} / {{ t.views }}</span>

              <a class="topic_title" href="{{ url_for('topic.detail', id=t.id) }}">
                 {{ t.title }}
              </a>
          </div>
        </div>
    {% endfor %}

  </div>

  <div class='panel'>
    <div class='header'>
      <span class='col_fade'>最近参与的话题</span>
    </div>
    
    {% for rt in reply_titles %}
        <div class='cell'>

          <a class="user_avatar pull-left" href="/user/i5ting">
            <img src="https://avatars3.githubusercontent.com/u/3118295?v=4&amp;s=120"
                 title="i5ting"
                    />
          </a>


          <a class='last_time pull-right' href="/topic/5a41e5e7d1536726354b8140#5a4488e7f320ae9f0dd5812d">
            <img class="user_small_avatar" src="https://avatars2.githubusercontent.com/u/20757983?v=4&amp;s=120">
            <span class="gua-time" data-ct="{{ rt.ct }}"></span>
          </a>



          <div class="topic_title_wrapper">
              <span>{{ rt.reply_count() }} / {{ rt.views }}</span>

              <a class="topic_title" href="{{ url_for('topic.detail', id=rt.id) }}">
                 {{ rt.title }}
              </a>
          </div>
        </div>
    {% endfor %}

  </div>
</div>



</div>



<script>
        var e = function (sel) {
            return document.querySelector(sel)
        }

        var es = function (sel) {
            return document.querySelectorAll(sel)
        }

        var markContents = function () {
            var contentDivs = es('.markdown-text')
            for (var i = 0; i < contentDivs.length; i++) {
                var contentDiv = contentDivs[i]
                console.log('pre marked', contentDiv.textContent, contentDiv.innerHTML)
                var content = marked(contentDiv.textContent)
                console.log('after marked', content)
                contentDiv.innerHTML = content
            }
        }

        var highlight = function () {
            var code_list = es('pre code')
            for (var i = 0; i < code_list.length; i++) {
                var code = code_list[i]
                code.className = code.className.replace('lang', 'language')
            }
        }

        var registerTimer = function () {
            setInterval(function () {
                var times = es('.gua-time')
                for (var i = 0; i < times.length; i++) {
                    var t = times[i]
                    var time = Number(t.dataset.ct)
                    var now = Math.floor(new Date() / 1000)
                    var delta =  Math.floor((now - time)/60)
                    var s = `${delta} 分钟前`
                    t.innerText = s
                }
            }, 1000)
        }

        var __main = function () {
            markContents()
            registerTimer()
            highlight()
        }

        __main()
</script>



</body>
</html>
