{% extends "topic/base.html" %}
{% block title %}
新建帖子
{% endblock %}
{% block main %}

<div id='main'>

    <div id='sidebar'>

      <div class='panel'>

        <div class='header'>
          <span class='col_fade'>个人信息</span>
        </div>
        <div class='inner'>
          <div class='user_card'>
              <div>
                <a class='user_avatar' href="{{url_for('index.user', id=user.id)}}">
                  <img src="https://avatars3.githubusercontent.com/u/3118295?v=4&amp;s=120">
                </a>
                <span class='user_name'><a class='dark'>{{user.username}}</a></span>

                <div class="space clearfix"></div>
                <span class="signature">
                    “
                        没有签名
                    ”
                </span>
              </div>
          </div>
        </div>
      </div>
    </div>


<div id='content'>
  <div class='panel'>
    <div class='header'>
      <ul class='breadcrumb'>
        <li><a href='/'>主页</a><span class='divider'>/</span></li>
      </ul>
    </div>
    <div class='inner userinfo'>
      <div class='user_big_avatar'>
        <img src="https://avatars3.githubusercontent.com/u/3118295?v=4&amp;s=120" class="user_avatar" title="i5ting"/>
      </div>
      <a class='dark'>{{user.username}}</a>


      <p class='col_fade'>注册时间 3 年前</p>

    </div>
  </div>

  <div class='panel'>
    <div class='header'>
      <span class='col_fade'>设置</span>
    </div>
  </div>

  <div class='panel'>
    <div class='header'>
      <span class='col_fade'>更改密码</span>
    </div>
  </div>

  <div class='panel'>
    <div class='header'>
      <span class='col_fade'>上传头像</span>
      <form method=post
          action='{{ url_for(".add_img") }}'
          enctype=multipart/form-data>
        <input type=file name=avatar>
        <button type="submit">Upload</button>
      </form>
      <img src="{{ user.user_image }}" title="avatar"/>
    </div>
  </div>
</div>



</div>



<script>
        var e = function (sel) {
            return document.querySelector(sel)
        }

        var es = function (sel) {
            return document.querySelectorAll(sel)
        }

        var markContents = function () {
            var contentDivs = es('.markdown-text')
            for (var i = 0; i < contentDivs.length; i++) {
                var contentDiv = contentDivs[i]
                console.log('pre marked', contentDiv.textContent, contentDiv.innerHTML)
                var content = marked(contentDiv.textContent)
                console.log('after marked', content)
                contentDiv.innerHTML = content
            }
        }

        var highlight = function () {
            var code_list = es('pre code')
            for (var i = 0; i < code_list.length; i++) {
                var code = code_list[i]
                code.className = code.className.replace('lang', 'language')
            }
        }

        var registerTimer = function () {
            setInterval(function () {
                var times = es('.gua-time')
                for (var i = 0; i < times.length; i++) {
                    var t = times[i]
                    var time = Number(t.dataset.ct)
                    var now = Math.floor(new Date() / 1000)
                    var delta =  Math.floor((now - time)/60)
                    var s = `${delta} 分钟前`
                    t.innerText = s
                }
            }, 1000)
        }

        var __main = function () {
            markContents()
            registerTimer()
            highlight()
        }

        __main()
</script>


{% endblock %}