{% extends "topic/base.html" %}
{% block title %}
所有帖子
{% endblock %}
{% block main %}
    <div id="main">
        <div id='sidebar'>

      <div class='panel'>
        <div class="inner">
            <a href="/topic/new" class="create_topic_btn">
                <span class="span-success">发布话题</span>
            </a>
        </div>
      </div>
        <div class='panel'>
        <div class='header'>
          <span class='col_fade'>个人信息</span>
        </div>
        <div class='inner'>
          <div class='user_card'>
              <div>
                <a class='user_avatar' href="{{url_for('index.user_detail', id=u.id)}}">
                  <img src="https://avatars3.githubusercontent.com/u/3118295?v=4&amp;s=120">
                </a>
                <span class='user_name'><a class='dark'>{{u.username}}</a></span>

                <div class="space clearfix"></div>
                <span class="signature">
                    “
                        没有签名
                    ”
                </span>
              </div>
          </div>
        </div>
      </div>
    </div>



        <div id="content">
            <div class="panel">
                <div class="inner post">
                    <div class="topic_list">
                        {% for t in ms %}
                        <div class="cell">
                            <div class="topic_title_wrapper">
                                <a class="topic_title" href="{{ url_for('topic.detail', id=t.id) }}">
                                    {{ t.title }}
                                </a>
{#                                <span>{{ t.replies() | count }} / {{ t.views }}</span>#}
                                <span>{{ t.reply_count() }} / {{ t.views }}</span>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}